:root {
    --myBlack: #2B3035;
    --myWhite: #dde0e2;
    
    
    --isabelline: #edede9ff;
    --timberwolf: #d6ccc2ff;
    --linen: #f5ebe0ff;
    --champagne-pink: #e3d5caff;
    --pale-dogwood: #d5bdaf;
    --light-grey: #9D9D9D;
    
    --rosa1: #F7E1D7;
    
    --grey: #2f2f2f;
    
    --marco1: #96705B;
    --marco2: #AB8476;
    
    --font-primary: "Josefin Sans", sans-serif;
    --font-secondary: "PT Sans", sans-serif;
    --font-title:"Amita", serif;
}

.color-grey {
    color: var(--grey) !important;
}

.color-champagnePink {
    color: var(--champagne-pink) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-champagnePink {
    background-color: var(--champagne-pink) !important;
}

.vh-50 {
    height: 50vh;
}

.vh-70 {
    height: 70vh;
}

.min-vh-70{
    min-height: 70vh;
}

form input {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 5px solid var(--champagne-pink) !important;
    border-right: 10px solid var(--champagne-pink) !important;
    border-bottom: 5px solid var(--champagne-pink) !important;
    border-left: 10px solid var(--champagne-pink) !important;
    width: 100%;
    height: 100%;
    opacity: 0.75 !important;
    background-color: var(--champagne-pink) !important;
}

form textarea {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 5px solid var(--champagne-pink) !important;
    border-right: 10px solid var(--champagne-pink) !important;
    border-bottom: 5px solid var(--champagne-pink) !important;
    border-left: 10px solid var(--champagne-pink) !important;
    width: 100%;
    height: 100%;
    opacity: 0.75 !important;
    background-color: var(--champagne-pink) !important;
}

form select {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 5px solid var(--champagne-pink) !important;
    border-right: 10px solid var(--champagne-pink) !important;
    border-bottom: 5px solid var(--champagne-pink) !important;
    border-left: 10px solid var(--champagne-pink) !important;
    width: 100%;
    height: 100%;
    opacity: 0.75 !important;
    background-color: var(--champagne-pink) !important;
}


::placeholder {
    color: var(--grey) !important;
    opacity: 0.75 !important;
    background-color: var(--champagne-pink) !important;
}

.font-primary {
    font-family: var(--font-primary);
}
.font-title{
    font-family: var(--font-title);
}
.dropdown-item:hover {
    color: var(--grey) !important;
    background-color: var(--champagne-pink) !important;
}

a:hover {
    --bs-link-color-rgb: var(--grey) !important;
}

button:hover {
    --bs-btn-hover-color: var(--champagne-pink) !important;
    --bs-btn-hover-bg: var(--grey);
}



.font-secondary {
    font-family: var(--font-secondary);
}

h1,
h2,
h3 {
    text-align: center;
}

body {
    margin: 0;
    color: var(--grey) !important;
    background-color: var(--myWhite) !important;
    overflow-x: hidden;
}

.img-bg-header {
    background: linear-gradient(180deg, rgba(188, 188, 188, 0) 40%, rgba(221, 224, 226, 1) 100%), url(../../public/media/img-header.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-bg-footer {
    background: url(../../public/media/img-footer.png);
    margin-top: 40px;
    min-height: 50vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--grey) !important;
    color: var(--champagne-pink) !important;
}

.border-custom-footer {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--champagne-pink) !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--champagne-pink) !important;
}

.nav-custom {
    height: 80px;
    background-color: var(--grey);
}

.navbar-dropdown {
    background-color: var(--grey);
    z-index: 5;
}

.nav-search {
    width: 300px;
}

.hover-none:hover {
    background-color: transparent !important;
}

.position-absolute2 {
    position: absolute;
    z-index: 9999 !important;
}

.position-relative2 {
    position: relative;
}

.navbar-toggler {
    box-shadow: 0px 0px 1px 2px var(--champagne-pink);
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 0px 3px var(--champagne-pink)!important;
    transition: 0.5s ease;
}


ul {
    list-style-type: none;
    background-color: var(--grey) !important;
}

a {
    text-decoration: none !important;
    color: var(--champagne-pink) !important;
}

.btn-custom1 {
    border: 1px solid var(--grey) !important;
    color: var(--grey) !important;
}

.btn-custom1:hover {
    background-color: var(--grey) !important;
    color: var(--champagne-pink) !important;
}

.btn-custom2 {
    border: 1px solid var(--champagne-pink) !important;
    color: var(--champagne-pink) !important;
}

.btn-custom2:hover {
    background-color: var(--champagne-pink) !important;
    color: var(--grey) !important;
}

.margin-title {
    margin-top: 100px;
}

.img-preview {
    width: 250px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.containerForm {
    padding-top: 100px;
}

.shadow-input {
    box-shadow: 1px 1px 8px 2px var(--grey);
}

.shadow-input:focus {
    box-shadow: 0px 0px 2px 4px var(--grey) !important;
    transition: 0.5s ease;
}

/*! Card custom */

.card-cascade {
    z-index: 1;
    margin-right: 4%;
    margin-left: 4%;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0 8px 15px 5px rgba(47, 47, 47, 0.825), 0 15px 10px 2px rgba(213, 189, 175, 0.882);
}

.card-custom {
    position: relative !important;
    overflow: hidden !important;
    margin-top: -1rem !important;
    margin-right: 6% !important;
    margin-left: 6% !important;
    border-radius: .25rem !important;
    box-shadow: 0 8px 15px 0 rgba(221, 224, 226, 0.545), 0 4px 20px 0 rgba(213, 189, 175, 0.739) !important;
}


.card-footer-custom {
    color: var(--champagne-pink) !important;
    background-color: var(--grey) !important;
    border-top: 1px solid var(--champagne-pink) !important;
    font-style: italic !important;
    opacity: 50%;
}

.border-category {
    border-bottom: 1px solid var(--champagne-pink) !important;
    width: 100%;
}

/* .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
} */

.sfondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(227, 213, 202, 0.652);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--grey);
}

.position-relative:hover .sfondo {
    display: flex;
}

.title{
    font-size: 100px;
    text-shadow:6px 3px 4px  var(--champagne-pink);
}

.subtitle{
    font-size: 50px;
    text-shadow: 4px 4px 3px  var(--marco2);
}

.arrow-size{
    font-size: 40px;
}

.page-link{
    background-color: var(--myWhite) !important;
    border-color: var(--grey)!important;
    color: var(--grey)!important;
    border-radius: 3px !important;
    /* margin: 2px !important; */
    border: 1px solid var(--grey) !important;
}

.page-link:hover{
    border-color: var(--myWhite) !important;
    background-color: var(--champagne-pink)!important;
    color: var(--grey)!important;
    border-radius: 3px !important;
    border: 1px solid var(--grey) !important;
}

.img-category{
    background-size: cover !important;
    width: 100%;
    height: 210px;
}


.card-body-custom {
    flex: 1 1 auto;
    padding: 10px 40px;
    color: var(--bs-card-color);
}

.border-info1{
    
    border-color: var(--grey)!important; 
}



/*~ Media queries */

@media screen and (max-width: 601px) {
    /* .nav-c{
        margin: 0 20vw;
        overflow: auto;
        clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
        padding: 10px 0px;
    } */
    
    .nav-custom {
        margin: 0 20vw;
        /* clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%); */
        padding: 10px 0px;
    }
    
    .translate-nav {
        translate: 0px 5px;
    }
    
    .title{
        font-size: 70px;
        
        text-shadow: 7px 3px 4px  var(--champagne-pink);
        
    }
    
    .img-category{
        background-size: cover !important;
        width: 100%;
        height: 170px;
    }
    
}